body {
  padding: 1em;
  font-family: sans-serif;
}

.flash-msg {
  padding: 10px;
  color: #3399cc;
  background: #CBE5F2;
}

.low-inventory {
  color: #ff6633;
}

.margin-to-left {
  margin-left: 15px;
}

.margin-on-top {
  margin-top: 20px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.success {
  color: #33cc99;
  background: #CBF2E5;
}

.warning {
  color: #ff6633;
  background: #FFCFBF;
}
