{% extends 'layout.html' %}

{% block content %}
  <h1>Your Cart:</h1>
  <ul>
    {% if cart %}
      {% for item_id in cart %}
        <li>
          <a href="{{ url_for('view_product', item_id=item_id)}}">{{ inventory[item_id|int]['product_name'] }}</a>
          <p class="inline margin-to-left">Quantity {{ cart[item_id] }}</p>
          <form class="inline margin-to-left" method="post" action="{{ url_for('delete_item_from_cart', item_id=item_id) }}">
            <button type="submit">Clear Item from Cart</button>
          </form>
        </li>
      {% endfor %}
    {% else %}
      <p>You have no items in your cart!</p>
    {% endif %}
  </ul>
  {% if cart %}
    <form method="post", action="{{ url_for('check_out_cart') }}">
      <button type="submit">Check Out</button>
    </form>
  {% endif %}
{% endblock %}

{% block additional_links %}
  <a class="block" href="{{ url_for('index') }}">View Selection</a>
  {% if not session['id'] %}
    <a class="block" href="{{ url_for('sign_up') }}">Sign Up for a Free Account</a>
    <a class="block" href="{{ url_for('sign_in') }}">Sign In</a>
  {% else %}
    <a class="block" href="{{ url_for('user_history') }}">See Purchase History</a>
    <form class="block" method="post" action="{{ url_for('sign_out') }}">
      <button type="submit">Sign Out</button>
    </form>
  {% endif %}
{% endblock %}